Melakukan Import library yang dibutuhkan

In [1]:
import math
import numpy as np 
import pandas as pd

# Get Data

In [2]:
data = pd.read_csv("airline_passenger_satisfaction.csv")

In [3]:
data.head()

,Unnamed: 0,Gender,customer_type,age,type_of_travel,customer_class,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,...,inflight_entertainment,onboard_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,satisfaction
0,0,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,1,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,2,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,3,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,4,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         129880 non-null  int64
 1   Gender                             129880 non-null  object
 2   customer_type                      129880 non-null  object
 3   age                                129880 non-null  int64
 4   type_of_travel                     129880 non-null  object
 5   customer_class                     129880 non-null  object
 6   flight_distance                    129880 non-null  int64
 7   inflight_wifi_service              129880 non-null  int64
 8   departure_arrival_time_convenient  129880 non-null  int64
 9   ease_of_online_booking             129880 non-null  int64
 10  gate_location                      129880 non-null  int64
 11  food_and_drink                     129880 non-null  int64
 12  online_boarding                    129880 non-null  int64
 13  seat_comfort                       129880 non-null  int64
 14  inflight_entertainment             129880 non-null  int64
 15  onboard_service                    129880 non-null  int64
 16  leg_room_service                   129880 non-null  int64
 17  baggage_handling                   129880 non-null  int64
 18  checkin_service                    129880 non-null  int64
 19  inflight_service                   129880 non-null  int64
 20  cleanliness                        129880 non-null  int64
 21  departure_delay_in_minutes         129880 non-null  int64
 22  arrival_delay_in_minutes           129487 non-null  float64
 23  satisfaction                       129880 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

In [5]:
data.describe()

,Unnamed: 0,age,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,food_and_drink,online_boarding,seat_comfort,inflight_entertainment,onboard_service,leg_room_service,baggage_handling,checkin_service,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes
count,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129487.000000
mean,64939.500000,39.427957,1190.316392,2.728696,3.057599,2.756876,2.976925,3.204774,3.252633,3.441361,3.358077,3.383023,3.350878,3.632114,3.306267,3.642193,3.286326,14.713713,15.091129
std,37493.270818,15.119360,997.452477,1.329340,1.526741,1.401740,1.278520,1.329933,1.350719,1.319289,1.334049,1.287099,1.316252,1.180025,1.266185,1.176669,1.313682,38.071126,38.465650
min,0.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32469.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,2.000000,0.000000,0.000000
50%,64939.500000,40.000000,844.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,3.000000,0.000000,0.000000
75%,97409.250000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,5.000000,4.000000,12.000000,13.000000
max,129879.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1592.000000,1584.000000

# Encoding

In [6]:
cat_columns = data.select_dtypes(include = ['object'])
unique_values = cat_columns.nunique(dropna=False)
print (unique_values)

Gender            2
customer_type     2
type_of_travel    2
customer_class    3
satisfaction      2
dtype: int64

In [7]:
data = pd.get_dummies(data, drop_first = True)
data.head()

,Unnamed: 0,age,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,food_and_drink,online_boarding,seat_comfort,...,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,Gender_Male,customer_type_disloyal Customer,type_of_travel_Personal Travel,customer_class_Eco,customer_class_Eco Plus,satisfaction_satisfied
0,0,13,460,3,4,3,1,5,3,5,...,5,5,25,18.0,1,0,1,0,1,0
1,1,25,235,3,2,3,3,1,3,1,...,4,1,1,6.0,1,1,0,0,0,0
2,2,26,1142,2,2,2,2,5,5,5,...,4,5,0,0.0,0,0,0,0,0,1
3,3,25,562,2,5,5,5,2,2,2,...,4,2,11,9.0,0,0,0,0,0,0
4,4,61,214,3,3,3,3,4,5,5,...,3,3,0,0.0,1,0,0,0,0,1

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 25 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Unnamed: 0                         129880 non-null  int64
 1   age                                129880 non-null  int64
 2   flight_distance                    129880 non-null  int64
 3   inflight_wifi_service              129880 non-null  int64
 4   departure_arrival_time_convenient  129880 non-null  int64
 5   ease_of_online_booking             129880 non-null  int64
 6   gate_location                      129880 non-null  int64
 7   food_and_drink                     129880 non-null  int64
 8   online_boarding                    129880 non-null  int64
 9   seat_comfort                       129880 non-null  int64
 10  inflight_entertainment             129880 non-null  int64
 11  onboard_service                    129880 non-null  int64
 12  leg_room_service                   129880 non-null  int64
 13  baggage_handling                   129880 non-null  int64
 14  checkin_service                    129880 non-null  int64
 15  inflight_service                   129880 non-null  int64
 16  cleanliness                        129880 non-null  int64
 17  departure_delay_in_minutes         129880 non-null  int64
 18  arrival_delay_in_minutes           129487 non-null  float64
 19  Gender_Male                        129880 non-null  uint8
 20  customer_type_disloyal Customer    129880 non-null  uint8
 21  type_of_travel_Personal Travel     129880 non-null  uint8
 22  customer_class_Eco                 129880 non-null  uint8
 23  customer_class_Eco Plus            129880 non-null  uint8
 24  satisfaction_satisfied             129880 non-null  uint8
dtypes: float64(1), int64(18), uint8(6)
memory usage: 19.6 MB

In [9]:
data.describe()

,Unnamed: 0,age,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,food_and_drink,online_boarding,seat_comfort,...,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,Gender_Male,customer_type_disloyal Customer,type_of_travel_Personal Travel,customer_class_Eco,customer_class_Eco Plus,satisfaction_satisfied
count,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,...,129880.000000,129880.000000,129880.000000,129487.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000,129880.000000
mean,64939.500000,39.427957,1190.316392,2.728696,3.057599,2.756876,2.976925,3.204774,3.252633,3.441361,...,3.642193,3.286326,14.713713,15.091129,0.492616,0.183092,0.309416,0.448945,0.072459,0.434463
std,37493.270818,15.119360,997.452477,1.329340,1.526741,1.401740,1.278520,1.329933,1.350719,1.319289,...,1.176669,1.313682,38.071126,38.465650,0.499947,0.386743,0.462255,0.497388,0.259248,0.495688
min,0.000000,7.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32469.750000,27.000000,414.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,...,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,64939.500000,40.000000,844.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,...,4.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,97409.250000,51.000000,1744.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,...,5.000000,4.000000,12.000000,13.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000
max,129879.000000,85.000000,4983.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,1592.000000,1584.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# **Missing Data**

In [10]:
print (data.isnull().sum())

Unnamed: 0                             0
age                                    0
flight_distance                        0
inflight_wifi_service                  0
departure_arrival_time_convenient      0
ease_of_online_booking                 0
gate_location                          0
food_and_drink                         0
online_boarding                        0
seat_comfort                           0
inflight_entertainment                 0
onboard_service                        0
leg_room_service                       0
baggage_handling                       0
checkin_service                        0
inflight_service                       0
cleanliness                            0
departure_delay_in_minutes             0
arrival_delay_in_minutes             393
Gender_Male                            0
customer_type_disloyal Customer        0
type_of_travel_Personal Travel         0
customer_class_Eco                     0
customer_class_Eco Plus                0
satisfaction_satisfied                 0
dtype: int64

In [11]:
data['arrival_delay_in_minutes'].fillna(data['departure_delay_in_minutes'], inplace = True)
print (data.isnull().sum())

Unnamed: 0                           0
age                                  0
flight_distance                      0
inflight_wifi_service                0
departure_arrival_time_convenient    0
ease_of_online_booking               0
gate_location                        0
food_and_drink                       0
online_boarding                      0
seat_comfort                         0
inflight_entertainment               0
onboard_service                      0
leg_room_service                     0
baggage_handling                     0
checkin_service                      0
inflight_service                     0
cleanliness                          0
departure_delay_in_minutes           0
arrival_delay_in_minutes             0
Gender_Male                          0
customer_type_disloyal Customer      0
type_of_travel_Personal Travel       0
customer_class_Eco                   0
customer_class_Eco Plus              0
satisfaction_satisfied               0
dtype: int64

In [12]:
data.dropna()

,Unnamed: 0,age,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,food_and_drink,online_boarding,seat_comfort,...,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,Gender_Male,customer_type_disloyal Customer,type_of_travel_Personal Travel,customer_class_Eco,customer_class_Eco Plus,satisfaction_satisfied
0,0,13,460,3,4,3,1,5,3,5,...,5,5,25,18.0,1,0,1,0,1,0
1,1,25,235,3,2,3,3,1,3,1,...,4,1,1,6.0,1,1,0,0,0,0
2,2,26,1142,2,2,2,2,5,5,5,...,4,5,0,0.0,0,0,0,0,0,1
3,3,25,562,2,5,5,5,2,2,2,...,4,2,11,9.0,0,0,0,0,0,0
4,4,61,214,3,3,3,3,4,5,5,...,3,3,0,0.0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,129875,34,526,3,3,3,1,4,3,4,...,5,4,0,0.0,1,1,0,0,0,0
129876,129876,23,646,4,4,4,4,4,4,4,...,5,4,0,0.0,1,0,0,0,0,1
129877,129877,17,828,2,5,1,5,2,1,2,...,4,2,0,0.0,0,0,1,1,0,0
129878,129878,14,1127,3,3,3,3,4,4,4,...,5,4,0,0.0,1,0,0,0,0,1
129879,129879,42,264,2,5,2,5,4,2,2,...,1,1,0,0.0,0,0,1,1,0,0

# Prepare data for modeling

In [13]:
from sklearn.model_selection import train_test_split

used_data = data.drop (['Unnamed: 0', 'satisfaction_satisfied'], axis=1)
x = used_data.values 
y = data['satisfaction_satisfied'].values
    
x_train, x_test, y_train, y_test = train_test_split (x, y, test_size=0.2, random_state=42)
print("The training data size is : {} ".format(x_train.shape))
print("The test data size is : {} ".format(x_test.shape))

The training data size is : (103904, 23)
The test data size is : (25976, 23)

**Naive Bayes**

In [14]:
# Naive Bayes
from sklearn.naive_bayes import GaussianNB

nbc = GaussianNB()
nbc.fit (x_train, y_train)
nbc_training_score = 100*nbc.score(x_train,y_train)
nbc_test_score = 100*nbc.score(x_test,y_test)
print("Naive Bayes accuracy. Train : {:.2f}%, Test: {:.2f}%. ".format(nbc_training_score, nbc_test_score))

Naive Bayes accuracy. Train : 85.95%, Test: 85.93%.

In [15]:
from sklearn.metrics import confusion_matrix
y_pred = nbc.predict(x_test)
confusion_matrix(y_pred,y_test)

array([[13071,  2103],
       [ 1551,  9251]])

In [16]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.86      0.89      0.88     14622
           1       0.86      0.81      0.84     11354

    accuracy                           0.86     25976
   macro avg       0.86      0.85      0.86     25976
weighted avg       0.86      0.86      0.86     25976

In [17]:
data = data.drop(columns = [data.columns[0]])

In [18]:
data.head()

,age,flight_distance,inflight_wifi_service,departure_arrival_time_convenient,ease_of_online_booking,gate_location,food_and_drink,online_boarding,seat_comfort,inflight_entertainment,...,inflight_service,cleanliness,departure_delay_in_minutes,arrival_delay_in_minutes,Gender_Male,customer_type_disloyal Customer,type_of_travel_Personal Travel,customer_class_Eco,customer_class_Eco Plus,satisfaction_satisfied
0,13,460,3,4,3,1,5,3,5,5,...,5,5,25,18.0,1,0,1,0,1,0
1,25,235,3,2,3,3,1,3,1,1,...,4,1,1,6.0,1,1,0,0,0,0
2,26,1142,2,2,2,2,5,5,5,5,...,4,5,0,0.0,0,0,0,0,0,1
3,25,562,2,5,5,5,2,2,2,2,...,4,2,11,9.0,0,0,0,0,0,0
4,61,214,3,3,3,3,4,5,5,3,...,3,3,0,0.0,1,0,0,0,0,1

In [19]:
prediksi = nbc.predict([[21, 650, 3, 2, 3, 4, 2, 5, 4, 3, 3, 4, 3, 1, 5, 5, 0, 0.0, 0, 0, 1, 0,  1]])
if prediksi == 0:
 print ('Neutral or Dissatisfied')
elif prediksi == 1:
 print ('Satisfied')

Neutral or Dissatisfied